POSTGRES_DB=amazon_repricer
POSTGRES_USER=repricer
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

# Amazon SP-API
AmazonSpApi__UseMock=true
AmazonSpApi__Endpoint=https://sellingpartnerapi-eu.amazon.com
AmazonSpApi__MarketplaceId=A33AVAJ2PDY3EV
AmazonSpApi__ClientId=
AmazonSpApi__ClientSecret=
AmazonSpApi__RefreshToken=
